entrypoint = "index.js"
modules = ["nodejs-22"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_11"

[deployment]
run = ["node", "index.js"]
deploymentTarget = "autoscale"
ignorePorts = false

[workflows]
runButton = "array"

[[workflows.workflow]]
name = "loop"
author = 23902305
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node Basic_js/loops.js"

[[workflows.workflow]]
name = "string"
mode = "sequential"
author = 23902305

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node Basic_js/string.js"

[[workflows.workflow]]
name = "function"
mode = "sequential"
author = 23902305

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node Basic_js/function.js"

[[workflows.workflow]]
name = "array"
mode = "sequential"
author = 23902305

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node Basic_js/array.js"
